#navid {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Urbanist', sans-serif;
    text-align: center;

}

#curveid {
    border-radius: 35px;
}

.container-fluid {
    background-color: #0d0821;
}

.search {
    margin-right: 130px;
}

.btn-primary {
    color: black;
    background-color: #ffffff;
    border-color: #ffffff;
}

.px-3 {
    font-size: 19px;
    color: #ffffff;
    font-weight: 800;
}